.container {
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header, body {
  background-color: #8d9db6;
  /* min-height: 100vh; */
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.all-students-container, .all-campuses-container{
  /* display: block;  */
  float: left;
}

.all-students-box, .all-campuses-box {
  display: inline-block;
  width: 120px;
  padding: 10px 20px 20px 20px;
  margin: 10px;
  background-color: white;
  border: 3px solid #667292;
}

.all-students-box:hover , .all-campuses-box:hover{
  background-color: #bbd4ec;
} 

.all-students-box p {
  color: black;
  font-size: small;
  
}

.all-campuses-box p {
  color: black;
}

ul {
  display: inline;
  list-style: none;
  
}

li {
  font-weight: bold;
  display: inline-flex;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px; 
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: monospace;
}

li:hover{
  background-color: rgb(106, 123, 168);
}

h1{
  /* display: inline-block; */
  font-family: monospace;
  font-size: 35px;
  margin: 0;
  padding: 0;
}

.nav-bar {

  width: 100%;
  height: 40px;
  padding-top: 7px;
  background-color: #2A293E;
}

/* label, input, button {
  font-size: inherit;
  padding: 0.3em 0.4em;
  margin: 0.1em 0.2em;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #f90;
  background-color: #fff;
} */

input, button, select {
  margin-right: 0;
  border-radius: 0.6em ;

  font-size: initial;
  padding: 0.3em 0.4em;
  margin: 0.1em 0.2em;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #667292;
  background-color: #fff;
}


input:focus {
  outline: none;
  background-color: #ffa;
  background-color: rgba(255,255,210,0.5);
}

/* CSS to handle  up and down arrows for number type inputs */
input::-webkit-outer-spin-button.studentID,
input::-webkit-inner-spin-button.studentID {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number].studentID {
    -moz-appearance:textfield; /* Firefox */
}
#main-page{
  padding-top: 1%;
  padding-bottom: 1%;
}

#main-image{
  width: 100%;
  max-width: 60%;
}

.close-out {
  display:flex;
  justify-content: flex-end;
  padding: 0px 0px 5px 0px;
}

.close-out button{
  color:red;
}